.actor-cards-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    background-color: #000;
}

.cards-content {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 40px;
}

.card {
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 20px 10px;
    color: #fff;
    font-size: 17px;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.card:hover {
    transform: scale(1.02);
}

.banner-1 {
    background-image: url('https://noticiasdatv.uol.com.br/media/uploads/artigos_2021/batman-robert-pattinson-foto-divulgacao-warner-bros.jpg');
}

.banner-2 {
    background-image: url('https://pbs.twimg.com/media/FMOk4EiXEAURgip.jpg');
}

.banner-3 {
    background-image: url('https://t.ctcdn.com.br/ea0zvh5wbzn9RRXnYKUOzh2mbiI=/1024x0/smart/i360687.jpeg');
}